@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

#priv{
    background-color: #F4F9F3;
    border-radius: 25px;
    padding: 50px 30px 50px 30px;
    margin: 100px 15% 50px 15%;
    box-shadow: -1px 2px 2px grey;
    border: 2px solid #be0c2a;
}

#priv h2{
    text-align: center;
    text-decoration: underline #be0c2a8e;
    color: #153d0a;
}

#privacidade{
    text-align: justify;
    padding: 0px 5% 0px 5%;
}

.indice{
    font-weight: bold;
}